h1{
    color:purple;
    text-align: center;
    margin-top: 15%;
}

.card{
    background-color: rgb(163, 10, 163);
    width: 250px;
    height:100px; 
    margin-left: 40%; 
    margin-top:5%;
    padding-left: 120px;
    padding-top:50px;
    color:white
}